

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
  
      <!-- Book Number Column -->
      <ng-container matColumnDef="bookNo">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element; let i = index"> {{i+1}} </td>
      </ng-container>
  
      <!-- Title Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let element"> {{element.bookData.title}} </td>
      </ng-container>
  
      <!-- Librarian Column -->
      <ng-container matColumnDef="librarian">
        <th mat-header-cell *matHeaderCellDef> Librarian </th>
        <td mat-cell *matCellDef="let element"> {{element.adminData.username}} </td>
      </ng-container>
  
      <!-- Borrow Date Column -->
      <ng-container matColumnDef="borrowDate">
        <th mat-header-cell *matHeaderCellDef> Borrow Date </th>
        <td mat-cell *matCellDef="let element"> {{element.borrowDate | date}} </td>
      </ng-container>
  
      <!-- Return Date Column -->
      <ng-container matColumnDef="returnDate">
        <th mat-header-cell *matHeaderCellDef> Return Date </th>
        <td mat-cell *matCellDef="let element"><mark class="bg-red-600">{{element.returnDate | date}}</mark>  </td>
      </ng-container>
  
      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element"> 
            <button
              (click)="return(element.bookData, element._id)" 
              [disabled]="!element.status"
              style="background-color: green; color: aliceblue" 
              mat-button>
              Return
            </button>     
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
</div>