<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
  
      <!-- Position Column -->
      <ng-container matColumnDef="bookNo">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element;let i = index"> {{i+1}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> title </th>
        <td mat-cell *matCellDef="let element"> {{element.bookData.title}} </td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="librarian">
        <th mat-header-cell *matHeaderCellDef> Librarian </th>
        <td mat-cell *matCellDef="let element"> {{element.adminData.username}} </td>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> status</th>
        <td mat-cell *matCellDef="let element"> 
            <button
            (click)="return(element)" 
            [disabled]="!element.status"
            style="background-color: green; color:aliceblue" mat-button>Return</button>     
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5,15]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
  